body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container {
  margin: 120px auto;
  max-width: 600px;
  background-color: rgba(192, 223, 228, 0.85);
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(242, 250, 250, 0.408);
  border-radius: 7px;
  padding: 3px 3px;
  width: fit-content;
  margin: 0 auto;
  gap: 10px;
}
.search-bar-button {
  padding: 10px 15px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  width: 420px;
}

input[type="submit"] {
  padding: 10px 15px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.container h1 {
  padding-top: 4%;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(62, 61, 62);
  font-weight: 300;
}
main {
  flex: 1;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.1);
}
footer {
  text-align: center;
  padding: 10px 20px;
}
