body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container {
  background: linear-gradient(
    178.6deg,
    rgb(238, 187, 135) 3.3%,
    rgb(253, 242, 226) 109.6%
  );
  max-width: 600px;
  margin: 120px auto;
  border-radius: 16px;
  padding: 30px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(241, 197, 153, 0.408);
  border-radius: 7px;
  padding: 3px 3px;
  width: fit-content;
  margin: 0 auto;
  gap: 10px;
}
.search-bar-button {
  padding: 10px 15px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  width: 420px;
}

input[type="submit"] {
  padding: 10px 15px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.container h1 {
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(62, 61, 62);
  font-weight: 300;
}
main {
  flex: 1;
  padding: 10px 15px;
  border-radius: 6px;
  background-color: rgba(229, 161, 94, 0.39);
}
footer {
  text-align: center;
  padding: 10px 20px;
}
